[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU


[prep]
#work_dir = ./#/mnt/home/supka1arCMICH/scratch/
work_dir = ./
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/q-e/bin/
pseudo_dir = ../../PBESOL_USPP_PSEUDOs/
log_level=debug

#[cluster]
#local_scratch=True
#job_template=mHT.qsub
#type=PBS

[run]
exec_prefix=mpirun -np 16
engine = espresso
exec_postfix=-npool 4 -northo 1

