[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudodir=../../PBESOL_USPP_PSEUDOs

workdir=/mnt/scratch/lyons2teCMICH/
enginedir=/home/lyons2teCMICH/LOCAL/espresso-5.4.0/bin 

[cluster]
localscratch=True
jobreffile=CRAWL_MIN_2D.qsub
type=PBS

[run]
execprefix=mpirun -np 16
engine = espresso
execpostfix= -northo 1 -npool 16

