[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir=../../PBESOL_USPP_PSEUDOs

work_dir=/mnt/scratch/lyons2teCMICH/
engine_dir=/home/lyons2teCMICH/LOCAL/espresso-5.4.0/bin 

[cluster]
local_scratch=True
job_template=CRAWL_MIN_2D.qsub
type=PBS

[run]
exec_prefix=mpirun -np 16
engine = espresso
exec_postfix= -northo 1 -npool 16

