[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PBESOL_USPP_PSEUDOs/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/qe-6.1/bin

[cluster]
restart_buffer=600
type = PBS
job_template=CRAWL_MIN_2D.qsub
local_scratch=True

[run]
exec_postfix=-npool 4
engine = espresso
exec_prefix=mpirun -np 4

