[provenance]
title = AFLOWpi Tests
author = Andrew Supka
affiliation = CMU

[prep]
workdir = /home/supkaand/scratch/
enginedir = /home/supkaand/archive/espresso-5.4.0/bin/
pseudodir = ../../PBESOL_USPP_PSEUDOs/

[cluster]
restart_buffer = 600
type = PBS
jobreffile = ./thermal.qsub

[run]
execpostfix = -npool 4 -northo 1
engine = espresso
execprefix = mpiexec.gforker  -np 16

