[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PBESOL_USPP_PSEUDOs/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/q-e/bin

[cluster]
job_template=thermal.qsub
type=PBS

[run]
exec_prefix=mpirun -np 64
exec_prefix_serial=mpirun -np 1
engine = espresso
exec_postfix= -northo 1 -npool 16

