[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PBESOL_USPP_PSEUDOs/
pao_dir= ../../PBE_NCPP_PSEUDOs/GaussFit_PAO

work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/espresso-6.0-beta/bin
want_dir = /mnt/home/supka1arCMICH/LOCAL/want_transport/bin/

log_level=debug

[cluster]
restart_buffer=600
type = PBS
job_template = ./thermal.qsub
local_scratch=True


[run]
exec_postfix=-npool 7 -northo 1
engine = espresso
exec_prefix=mpirun  -np 28

