[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = /mnt/home/supka1arCMICH/AFLOWpi_candidate_new/examples/PBESOL_USPP_PSEUDOs/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/espresso-6.0-beta/bin
want_dir = /mnt/home/supka1arCMICH/LOCAL/want_transport/bin/
pao_dir= /mnt/home/supka1arCMICH/AFLOWpi_candidate_new/examples/PBE_NCPP_PSEUDOs/GaussFit_PAO
log_level=debug

[cluster]
restart_buffer=600
type = PBS
job_template = ./thermal.qsub
localscratch=True


[run]
exec_postfix=-npool 7 -northo 1
engine = espresso
exec_prefix=mpirun  -np 28

