[provenance]
title=TTB
author=Andrew Supka
affiliation=CMU



[prep]
work_dir = /mnt/ls15/scratch/users/supka1arCMICH/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/bin_qe-6.3/bin/
pseudo_dir = /mnt/home/supka1arCMICH/LOCAL/AFLOWpi/alpha_afp2/PSEUDOs/PBE_NCPP_PSEUDOs
loglevel=debug

[cluster]
job_template=epsilon.qsub
type=SLURM
#steps_as_jobs=True

[run]
exec_prefix=srun -n 64
engine = espresso
exec_postfix= -northo 1 -npool	16



