[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = LDA_FE_REL/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = ../../../../../ESPRESSO/qe-6.2/bin/

[cluster]
restart_buffer=600
type = PBS
job_template=PAOFLOW_AFLOWPI.qsub
local_scratch=True


[run]
exec_postfix=-npool 4
engine = espresso
exec_prefix=mpirun -np 28

