[provenance]
title=AMN2 Optical
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ./SR_PP
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/q-e-qe-6.4.1/bin/
fig_dir=./

[run]
exec_prefix=mpirun -n 1
engine = espresso
exec_postfix = -northo 1 -npool 1
exec_prefix_serial = srun -n 1 

