[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PBE_NCPP_PSEUDOs/
pao_dir = ../../PBE_NCPP_PSEUDOs/

work_dir =  /mnt/home/supka1arCMICH/scratch/
engine_dir = ../../espresso/bin/
want_dir = ../../WanT

#[cluster]
#type = PBS
#job_template = ./DukeQratsJob.ref
#local_scratch=True
#steps_as_jobs=True

[run]
exec_postfix=-npool 4
engine = espresso
exec_prefix=mpirun -np 4


