[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudodir = ../../PBE_NCPP_PSEUDOs/
paodir = ../../PBE_NCPP_PSEUDOs/

workdir =  /mnt/home/supka1arCMICH/scratch/
enginedir = ../../espresso/bin/
wantdir = ../../WanT

#[cluster]
#type = PBS
#jobreffile = ./DukeQratsJob.ref
#localscratch=True
#stepsasjobs=True

[run]
execpostfix=-npool 4
engine = espresso
execprefix=mpirun -np 4


