[provenance]
title=AMN2 Optical
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PSEUDOs/PBE_NCPP_PSEUDOs/
pao_dir = ../../PSEUDOs/PBE_NCPP_PSEUDOs/GaussFit_PAO
work_dir = /mnt/gs18/scratch/users/alrah1rCMICH
engine_dir = /mnt/home/alrah1rCMICH/AS/qe-6.3/bin
log_level = debug

[cluster]
job_template=everything.qsub
type=SLURM

[run]
engine = espresso
exec_prefix=srun -n 64
exec_postfix = -northo 1 -npool 1
exec_prefix_serial = srun -n 1 

