[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
workdir = /mnt/home/supka1arCMICH/scratch/
enginedir = ../../espresso/bin
pseudodir = ../../PBESOL_USPP_PSEUDOs/
paodir=../../NC_PSEUDOs/GaussFit_PAO/

[cluster]
localscratch=True
jobreffile=phonon.qsub
type=PBS

[run]
execprefix=mpirun -np 16
engine = espresso
execpostfix=-npool 4 -northo 1

