[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = ../../espresso/bin
pseudo_dir = ../../PBESOL_USPP_PSEUDOs/
pao_dir=../../NC_PSEUDOs/GaussFit_PAO/

[cluster]
local_scratch=True
job_template=phonon.qsub
type=PBS

[run]
exec_prefix=mpirun -np 16
engine = espresso
exec_postfix=-npool 4 -northo 1

