[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/espresso-5.4.0/bin
pseudo_dir = ../../PBESOL_USPP_PSEUDOs/


[cluster]
local_scratch=True
job_template=phonon.qsub
type=PBS

[run]
exec_prefix=mpirun -np 16
engine = espresso
exec_postfix= -northo 1

