[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
workdir = /mnt/home/supka1arCMICH/scratch/
enginedir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/espresso-5.4.0/bin
pseudodir = ../../PBESOL_USPP_PSEUDOs/

[cluster]
localscratch=True
jobreffile=phonon.qsub
type=PBS

[run]
execprefix=mpirun -np 16
engine = espresso
execpostfix= -northo 1

