###################################################################
## SEE CONFIG_INFO.pdf FOR DESCRIPTIONS OF CONFIG FILE VARIABLES ##
###################################################################

[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
log_level=debug
pseudo_dir = ../../../PSEUDOs/PBESOL_USPP_PSEUDOs/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/bin_qe-6.3/bin/
work_dir = /mnt/home/supka1arCMICH/scratch/
fig_dir=./Figures/

[run]
engine = espresso
exec_prefix=srun -n 16
exec_postfix=-npool 4 -northo 1
exec_prefix_serial=srun -n 1
exec_postfix_serial=-npool 1 -northo 1


[cluster]
type=SLURM
job_template=phonon.qsub