[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PBE_NCPP_PSEUDOs/

work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = ../../espresso/

#[cluster]
#restart_buffer=600
#type = PBS
#job_template = ./DukeQratsJob.ref
#local_scratch=True

[run]
exec_postfix=-npool 4
engine = espresso
exec_prefix=mpirun -np 24

