[provenance]
title=sandbox testing
author=Andrew Supka
affiliation=CMU

[prep]

work_dir = /home/mat/python/pi_testing
pseudo_dir= ./temp_pp
engine_dir = /home/mat/codes/qe-6.3/bin
log_level = debug

[cluster]
job_template=environ_test.qsub
type=

[run]
exec_prefix=mpirun -n 4
engine = espresso
#exec_postfix = --environ

