[provenance]
title=sandbox testing
author=Andrew Supka
affiliation=CMU

[prep]

work_dir = /storage/scratch2/mat0330/sandbox
pseudo_dir= ./temp_pp
engine_dir = /home/mat0330/qe-6.3/bin
log_level = debug

[cluster]
job_template=environ_test.qsub
type=SLURM

[run]
exec_prefix=mpirun -n 4
engine = espresso
exec_postfix = --environ

