[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU


[prep]
workdir = /mnt/home/supka1arCMICH/scratch
enginedir = ../../espresso/bin/
pseudodir = ../../NC_PSEUDOs/
paodir = ../../NC_PSEUDOs/GaussFit_PAO/
wantdir = ../../WanT/bin/


#[cluster]
#restart_buffer=600
#type = PBS
#jobreffile = ./DukeQratsJob.ref
#localscratch=True


[run]
execprefix=mpirun -np 16
engine = espresso
execpost=-northo 1
