[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU


[prep]
work_dir = /mnt/home/supka1arCMICH/scratch
engine_dir = ../../espresso/bin/
pseudo_dir = ../../PBE_NCPP_PSEUDOs/
pao_dir = ../../PBE_NCPP_PSEUDOs/GaussFit_PAO/
want_dir = ../../WanT/bin/


#[cluster]
#restart_buffer=600
#type = PBS
#job_template = ./DukeQratsJob.ref
#local_scratch=True


[run]
exec_prefix=mpirun -np 16
engine = espresso
exec_postfix=-northo 1
