[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PBE_NCPP_PSEUDOs/
pao_dir=../../PBE_NCPP_PSEUDOs/GaussFit_PAO/

want_dir=/mnt/home/supka1arCMICH/LOCAL/want_transport/bin/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = ../../espresso/bin
#log_level=debug

#[cluster]
#local_scratch=True
#job_template=phonon.qsub
#type=PBS

[run]
exec_prefix=mpirun -np 16
engine = espresso
exec_postfix=-npool 4 -northo 1

