###################################################################
## SEE CONFIG_INFO.pdf FOR DESCRIPTIONS OF CONFIG FILE VARIABLES ##
###################################################################

[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
log_level=debug
pseudo_dir = ../../../PSEUDOs/PBESOL_USPP_PSEUDOs/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/q-e-qe-6.4.1/bin/
work_dir = ../scratch/

[run]
exec_prefix=mpirun -np 16
engine = espresso
exec_postfix=-npool 4 -northo 1

