[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../../PSEUDOs/PBE_NCPP_PSEUDOs/
pao_dir = ../../../PSEUDOs/PBE_NCPP_PSEUDOs/GaussFit_PAO/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/gipaw-qe/q-e/bin


[cluster]
local_scratch=True
job_template=mHT.qsub
type=PBS

[run]
exec_prefix=mpirun -np 4
engine = espresso
exec_postfix= -npool 4 -northo 1
exec_prefix_serial= mpirun -np 1
exec_postfix_serial= -npool 1-northo 1
