[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/qe-6.1/bin
pseudo_dir = ../../../PSEUDOs/PBESOL_USPP_PSEUDOs/
log_level=debug

[cluster]
type=PBS
job_template=./elastic.qsub
local_scratch=True

[run]
exec_prefix=mpirun -np 1
engine = espresso

