[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir=../..//PBESOL_USPP_PSEUDOs

work_dir=/mnt/scratch/supka1arCMICH/
engine_dir=/home/supka1arCMICH/LOCAL/ESPRESSO/espresso-5.4.0/bin

[cluster]
local_scratch=True
job_template=CRAWL_MIN_TET.qsub
type=PBS

[run]
exec_prefix=mpirun -np 1
engine = espresso

