[provenance]
title=sandbox testing
author=Andrew Supka
affiliation=CMU

[prep]

work_dir = /mnt/home/supka1arCMICH/scratch/
pseudo_dir= ./temp_pp
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/qe-6.3/bin/
log_level = debug

[cluster]
job_template=cDFT_test.qsub
type=SLURM

[run]
exec_prefix=srun -n 256
engine = espresso
exec_postfix = -northo 1 -npool 16
exec_prefix_serial = srun -np 1 

