[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../../PSEUDOs/PBESOL_NCPP_PSEUDOs/
pao_dir = ../../../PSEUDOs/PBESOL_NCPP_PSEUDOs/GaussFit_PAO/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = /mnt/home/supka1arCMICH/LOCAL/ESPRESSO/qe-6.1/bin/
log_level=debug

[cluster]
type=slurm
job_template=ACBN0.qsub

[run]
exec_postfix=-npool 4
engine = espresso
exec_prefix=mpirun -np 16

