[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../PBE_NCPP_PSEUDOs/
pao_dir = ../../PBE_NCPP_PSEUDOs/GaussFit_PAO/
work_dir = /mnt/home/supka1arCMICH/scratch/
engine_dir = ../../../../../ESPRESSO/espresso-5.4.0/bin/





[run]
exec_postfix=-npool 4
engine = espresso
exec_prefix=mpirun -np 16

