[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudo_dir = ../../../PSEUDOs/PBE_NCPP_PSEUDOs/
engine_dir =/mnt/home/supka1arCMICH/LOCAL/ESPRESSO/q-e-qe-6.4.1/bin
work_dir = ../scratch/

[run]
python_command=python3
exec_postfix=-npool 4 -northo 1
engine = espresso
exec_prefix=mpirun -np 16
exec_postfix_serial=-npool 1 -northo 1
exec_prefix_serial=mpirun -np 1

#[cluster]
#type=SLURM
#job_template=ACBN0.qsub


