[provenance]
title=AFLOWpi Tests
author=Andrew Supka
affiliation=CMU

[prep]
pseudodir = ../../PBE_NCPP_PSEUDOs/
paodir = ../../PBE_NCPP_PSEUDOs/GaussFit_PAO/
workdir = /mnt/home/supka1arCMICH/scratch/
enginedir = ../../espresso/bin/
wantdir = ../../WanT/bin/

#[cluster]
#restart_buffer=600
#type = PBS
#jobreffile = ./DukeQratsJob.ref
#localscratch=True


[run]
execpostfix=-npool 4
engine = espresso
execprefix=mpirun -np 16

